@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 390px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "'Montserrat', sans-serif";
  font-size: 1.625rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "'Montserrat', sans-serif";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  line-height: 128%;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 99.375rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1.875rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

h1 {
  font-family: "Lora", serif;
  font-weight: 700;
  color: #fff;
  line-height: 128%;
}

h2 {
  font-family: "Lora", serif;
  font-weight: 700;
  color: #333;
  line-height: 128%;
}

h3 {
  font-family: "Lora", serif;
  line-height: 128%;
  color: #000;
  font-weight: 700;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 123%;
  color: #585858;
}

a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 123%;
  color: #1f8000;
}

._button {
  padding: 1.125rem 3rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: #36dd01;
  border-radius: 2.5rem;
  text-transform: uppercase;
  color: #fff;
  border: solid 0.1875rem #36dd01;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

._button:hover,
._button:active,
._button:focus {
  background-color: transparent;
  color: #36dd01;
}

._line-decor {
  position: relative;
}

._line-decor::after {
  content: "";
  position: absolute;
  height: 0.3125rem;
  width: 100%;
  background-color: #36dd01;
  bottom: 0;
  left: 0;
}

.header {
  padding: 1.75rem 0 2.125rem;
  background-color: #000;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo p {
  font-size: 1.25rem;
  line-height: 120%;
  color: #d3d3d3;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__logo:hover p {
  color: #fff;
}

.header__phone {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 123%;
  color: #36dd01;
}

.header__phone--adaptive {
  background-image: url("../img/phone.svg");
  width: 1.5rem;
  height: 1.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.footer {
  padding: 3.125rem 0;
}

.footer__container {
  text-align: center;
}

.footer__container a,
.footer__container p,
.footer__container address {
  font-family: "Merriweather", serif;
  font-style: normal;
  color: #333;
  margin-bottom: 1.875rem;
  font-size: 1.25rem;
}

.intro {
  position: relative;
}

/* .intro__bg{
  background-image: url("../img/intro/intro_img.webp"); 
} */
.intro__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
}

.intro__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 3.125rem;
}

.intro__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 54rem;
}

.intro__reviews-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.8125rem;
}

.intro__reviews-top p {
  font-size: 1.125rem;
  font-weight: 500;
  color: #a6a6a6;
}

.intro__reviews-stars {
  margin-right: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro__review {
  font-size: 1.125rem;
  font-weight: 400;
  color: #a6a6a6;
  max-width: 39.25rem;
}

.intro__text p {
  color: #d0d0d0;
  max-width: 44.375rem;
}

.intro__right {
  position: relative;
  max-width: 43.4375rem;
}

.intro__form {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 92%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 92%);
  margin-top: 0.3125rem;
  background-color: #fff;
  padding-bottom: 5rem;
  -webkit-transform: translateX(3.5625rem);
      -ms-transform: translateX(3.5625rem);
          transform: translateX(3.5625rem);
}

.intro__form-decor {
  position: absolute;
  -webkit-clip-path: polygon(0 0, 100% 8%, 100% 100%, 0 92%);
          clip-path: polygon(0 0, 100% 8%, 100% 100%, 0 92%);
  background-color: #36dd01;
  left: 1.0625rem;
  bottom: -1.875rem;
  height: 85.9531772575%;
  width: 96.5467625899%;
}

.intro__form-button {
  display: block;
  margin-left: auto;
  margin-top: 2.1875rem;
}

.intro__form-title {
  font-family: Montserrat;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  padding-bottom: 2.625rem;
}

.intro__form-title::after {
  width: 58.7837837838%;
}

.intro__input {
  padding: 1.25rem 0.625rem;
  margin-bottom: 1.25rem;
}

.intro__textarea {
  resize: none;
  padding: 1.25rem 0.625rem 5rem;
}

.intro__input,
.intro__textarea {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  line-height: 128%;
  color: #333;
  border-bottom: solid 0.0625rem rgba(109, 109, 109, 0.14);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  outline: none;
}

.intro__input::-webkit-input-placeholder, .intro__textarea::-webkit-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  line-height: 128%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #adadad;
}

.intro__input::-moz-placeholder, .intro__textarea::-moz-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  line-height: 128%;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #adadad;
}

.intro__input:-ms-input-placeholder, .intro__textarea:-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  line-height: 128%;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #adadad;
}

.intro__input::-ms-input-placeholder, .intro__textarea::-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  line-height: 128%;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #adadad;
}

.intro__input::placeholder,
.intro__textarea::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  line-height: 128%;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #adadad;
}

.intro__input:focus,
.intro__textarea:focus {
  border-bottom: solid 0.125rem #36dd01;
}

.intro__input:focus::-webkit-input-placeholder, .intro__textarea:focus::-webkit-input-placeholder {
  color: #36dd01;
}

.intro__input:focus::-moz-placeholder, .intro__textarea:focus::-moz-placeholder {
  color: #36dd01;
}

.intro__input:focus:-ms-input-placeholder, .intro__textarea:focus:-ms-input-placeholder {
  color: #36dd01;
}

.intro__input:focus::-ms-input-placeholder, .intro__textarea:focus::-ms-input-placeholder {
  color: #36dd01;
}

.intro__input:focus::placeholder,
.intro__textarea:focus::placeholder {
  color: #36dd01;
}

.intro--adaptive {
  margin: 8.125rem auto 0;
  text-align: center;
}

.intro--adaptive p {
  margin-top: 1.875rem;
}

.benefits__text::after {
  left: -50%;
  width: 82%;
}

.benefits__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.benefits__item {
  max-width: 30.1875rem;
}

.benefits__item h3 {
  margin-bottom: 1.25rem;
}

.solution.solution-2 {
  margin-bottom: 0;
}

.solution.solution-2::after {
  background-color: #fafafa;
}

.solution.solution-2 .quote__text::before {
  right: 0;
  left: auto;
  top: 0;
}

.solution.solution-2 .quote__img {
  left: 12.5rem;
  top: -11.875rem;
}

.solution {
  position: relative;
}

.solution::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #dcdcdc;
  -webkit-transform: skew(0deg, 1.5deg);
      -ms-transform: skew(0deg, 1.5deg);
          transform: skew(0deg, 1.5deg);
  top: 0;
  left: 0;
  z-index: -3;
}

.solution__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 3.4375rem;
}

.solution__text {
  max-width: 42.125rem;
  width: 100%;
}

.solution__logo {
  margin-bottom: 5.375rem;
  width: 100%;
}

.solution__item h3 {
  margin-bottom: 1.25rem;
}

.solution__item b {
  font-weight: 600;
  line-height: 129%;
  color: #000;
  font-family: "Montserrat", sans-serif;
}

.solution__item p {
  color: #000;
}

.solution__list li {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 138%;
  color: #000;
}

.quote {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.quote__img {
  position: absolute;
  top: -8.125rem;
  -webkit-transform: translateX(-40%);
      -ms-transform: translateX(-40%);
          transform: translateX(-40%);
  left: 50%;
  z-index: -2;
}

.quote__text {
  background-color: transparent;
  position: relative;
  padding: 4.375rem 0.625rem 3.75rem 3.75rem;
  -webkit-transform: translateY(13.75rem);
      -ms-transform: translateY(13.75rem);
          transform: translateY(13.75rem);
}

.quote__text::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 100%;
  background-color: #36dd01;
  z-index: -1;
  -webkit-transform: skew(0deg, 3deg);
      -ms-transform: skew(0deg, 3deg);
          transform: skew(0deg, 3deg);
  left: 0;
  top: 10%;
}

.quote__quote {
  font-family: "Lora", serif;
  font-weight: 700;
  font-style: italic;
  line-height: 128%;
  color: #fff;
  max-width: 51.25rem;
}

.quote__author {
  color: #fff;
  font-weight: 400;
}

.services h2 {
  max-width: 37.5rem;
}

.services h2::after {
  left: -110%;
  width: 200%;
}

.services__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1.5625rem 1fr 1.5625rem 1fr;
  -ms-grid-columns: (1fr)[3];
      grid-template: repeat(3, 1fr)/repeat(3, 1fr);
  row-gap: 1.5625rem;
}

.services__item {
  padding: 2.5rem 0.625rem 2.5rem 2.5rem;
  position: relative;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.services__item::after {
  content: "";
  position: absolute;
  width: 82.0895522388%;
  height: 39.95215311%;
  background-color: transparent;
  border-bottom: 0.3125rem solid #36dd01;
  border-left: 0.3125rem solid #36dd01;
  bottom: -0.3125rem;
  left: -0.3125rem;
  z-index: -1;
}

.services__description {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  background-color: #36dd01;
  padding-bottom: 0.625rem;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.services__description p {
  font-family: Lora;
  font-weight: 700;
  line-height: 138%;
  color: #fff;
}

.services__loadmore {
  padding: 1.125rem 3.4375rem;
  border: solid 0.1875rem #36dd01;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #36dd01;
  border-radius: 2.5rem;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: transparent;
  margin: 0 auto;
  display: block;
}

.services__loadmore:hover,
.services__loadmore:active,
.services__loadmore:focus {
  background-color: #36dd01;
  color: #fff;
}

.features {
  position: relative;
}

.features::before {
  content: "";
  position: absolute;
  background-image: -o-linear-gradient(326deg, #d9d9d9 7%, #fff 85%);
  background-image: linear-gradient(124deg, #d9d9d9 7%, #fff 85%);
  width: 100%;
  height: 200%;
  -webkit-transform: skew(0deg, 2deg);
      -ms-transform: skew(0deg, 2deg);
          transform: skew(0deg, 2deg);
  top: 0;
  left: 0;
  z-index: -3;
}

.features h2 {
  max-width: 46.875rem;
}

.features h2::after {
  left: -110%;
  width: 200%;
}

.features__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 3.125rem;
}

.features__left {
  max-width: 46.25rem;
}

.features__list {
  list-style: none;
  counter-reset: features-numbers;
}

.features__list li {
  font-family: "Lora", serif;
  font-weight: 700;
  line-height: 128%;
  color: #333;
  position: relative;
}

.features__list li::before {
  counter-increment: features-numbers;
  content: counter(features-numbers);
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 3.75rem;
  height: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 0.625rem;
  border-radius: 50%;
  background-color: #36dd01;
  color: #fff;
  font-size: 3.1875rem;
  font-weight: 400;
  font-family: "Merriweather", serif;
}

.features__right {
  max-width: 47.875rem;
  position: relative;
}

.features__right .call__decor {
  position: absolute;
  -webkit-clip-path: polygon(0 0, 100% 8%, 100% 100%, 0 92%);
          clip-path: polygon(0 0, 100% 8%, 100% 100%, 0 92%);
  background-color: #36dd01;
  left: -1.875rem;
  bottom: -1.5625rem;
  height: 85.9531772575%;
  width: 96.5467625899%;
  z-index: -3;
}

.call {
  margin-top: 0.3125rem;
  background-color: #fff;
  padding-bottom: 5rem;
  height: 100%;
}

.call__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 121%;
  color: #000;
}

.call-calendy {
  width: 100%;
  height: 34.375rem;
  background: #d9d9d9;
}

@media (min-width: 47.99875em) {
  .header__phone--adaptive {
    display: none;
  }

  .intro--adaptive {
    display: none;
  }
}

@media (min-width: 61.99875em) {
  .services__loadmore {
    display: none;
  }
}

@media (min-width: 74.99875em) {
  .call {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 92%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 92%);
  }
}

@media (min-width: 103.125em) {
  h1 {
    font-size: 3.625rem;
  }

  h1 {
    margin-bottom: 1.875rem;
  }

  h2 {
    font-size: 2.875rem;
  }

  h2 {
    margin-bottom: 1.25rem;
  }

  h3 {
    font-size: 2rem;
  }

  h3 {
    margin-bottom: 1.25rem;
  }

  p {
    font-size: 1.625rem;
  }

  a {
    font-size: 1.625rem;
  }

  ._page-section {
    margin-bottom: 6.25rem;
  }

  .header__img {
    margin-right: 0.9375rem;
  }

  .intro {
    padding-top: 13.25rem;
  }

  .intro__reviews {
    margin-bottom: 5.1875rem;
  }

  .intro__form {
    padding-top: 4.375rem;
  }

  .intro__form {
    padding-left: 3.9375rem;
  }

  .intro__form {
    padding-right: 2.5rem;
  }

  .intro__form-title {
    font-size: 1.75rem;
  }

  .intro__form-title {
    margin-bottom: 5.625rem;
  }

  .benefits__text {
    padding-bottom: 3.125rem;
  }

  .benefits__text {
    margin-bottom: 6.25rem;
  }

  .benefits__items {
    gap: 4.375rem;
  }

  .solution-1 .quote__img {
    width: 62.5rem;
  }

  .solution-1 .solution__logo {
    max-width: 36rem;
  }

  .solution.solution-2 {
    padding-top: 11.25rem;
  }

  .solution.solution-2 {
    padding-bottom: 7.5rem;
  }

  .solution.solution-2 .quote__img {
    width: 59.375rem;
  }

  .solution.solution-2 .solution__logo {
    max-width: 32.625rem;
  }

  .solution {
    padding-top: 16.25rem;
  }

  .solution {
    padding-bottom: 11.25rem;
  }

  .solution {
    margin-bottom: 9.375rem;
  }

  .solution__item {
    padding-left: 2.5rem;
  }

  .solution__item:not(:last-child) {
    margin-bottom: 4.375rem;
  }

  .solution__item b {
    font-size: 1.75rem;
  }

  .solution__item._line-decor {
    padding-bottom: 3.125rem;
  }

  .solution__item._line-decor {
    margin-bottom: 2.1875rem;
  }

  .solution__list li {
    font-size: 1.625rem;
  }

  .quote__quote {
    font-size: 2.5rem;
  }

  .quote__quote {
    margin-bottom: 2.1875rem;
  }

  .services h2 {
    padding-bottom: 3.125rem;
  }

  .services__items {
    -webkit-column-gap: 4.375rem;
       -moz-column-gap: 4.375rem;
            column-gap: 4.375rem;
  }

  .services__item svg {
    margin-bottom: 3.125rem;
  }

  .services__description {
    padding-top: 7.5rem;
  }

  .services__description {
    padding-bottom: 6.875rem;
  }

  .services__description {
    padding-left: 3.3125rem;
  }

  .services__description {
    padding-right: 11.25rem;
  }

  .services__description p {
    font-size: 2rem;
  }

  .features {
    padding-top: 13.125rem;
  }

  .features h2 {
    padding-bottom: 3.125rem;
  }

  .features h2 {
    margin-bottom: 7.5rem;
  }

  .features__list li:not(:last-child) {
    margin-bottom: 5rem;
  }

  .features__list li {
    font-size: 1.625rem;
  }

  .features__list li {
    padding-left: 7.5rem;
  }

  .call {
    padding-top: 4.375rem;
  }

  .call {
    padding-left: 3.9375rem;
  }

  .call {
    padding-right: 2.5rem;
  }

  .call__title {
    padding-bottom: 1.875rem;
  }

  .call__title {
    font-size: 1.75rem;
  }

  .call__title {
    margin-bottom: 3.75rem;
  }
}

@media (max-width: 103.125em) {
  .intro__form {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }

  .intro__form-decor {
    left: -1.875rem;
  }
}

@media (max-width: 94.375em) {
  .solution.solution-2 .quote__text {
    -webkit-transform: translateY(18.75rem);
        -ms-transform: translateY(18.75rem);
            transform: translateY(18.75rem);
  }

  .solution.solution-2 .quote__img {
    left: 0;
  }
}

@media (max-width: 94.375em) and (max-width: 24.375em) {
  .solution {
    margin-bottom: 3.125rem;
  }

  .features {
    padding-top: 6.25rem;
  }
}

@media (max-width: 74.99875em) {
  .intro__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .intro__right {
    margin: 0 auto;
  }

  .solution {
    padding-bottom: 0 !important;
  }

  .solution.solution-2 .quote__text {
    -webkit-transform: translateY(2.5rem);
        -ms-transform: translateY(2.5rem);
            transform: translateY(2.5rem);
  }

  .solution.solution-2 .quote__text::before {
    left: -50%;
    top: 4%;
  }

  .solution.solution-2 .solution__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .solution.solution-2 .quote__img {
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    left: 50%;
    top: 0;
  }

  .solution {
    padding-bottom: 0;
  }

  .solution__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .solution__logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .quote__img {
    top: 0;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .quote__text::before {
    left: -50%;
    top: 4%;
  }

  .quote__text {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    padding: 3.75rem 0rem !important;
  }

  .services__items {
    -ms-grid-rows: (1fr)[3];
    -ms-grid-columns: (1fr)[2];
        grid-template: repeat(3, 1fr)/repeat(2, 1fr);
  }

  .services__description {
    -ms-grid-column-span: 1;
    grid-column: span 1;
    padding-right: 0.625rem;
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }

  .features__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5.3125rem;
  }

  .features__right .call__decor {
    display: none;
  }

  .call {
    padding: 0;
    background-color: transparent;
  }
}

@media (max-width: 74.99875em) and (max-width: 24.375em) {
  .quote__text {
    margin-top: 18.75rem;
  }
}

@media (max-width: 61.99875em) {
  .header__logo p {
    display: none;
  }

  .services__items {
    -ms-grid-rows: (1fr)[3];
    -ms-grid-columns: (1fr)[1];
        grid-template: repeat(3, 1fr)/repeat(1, 1fr);
  }

  .services__item {
    color: #6b6b6b;
  }

  .services__item h3,
  .services__item p {
    color: #6b6b6b;
  }

  .services__item::after {
    width: 100%;
    height: 40%;
  }

  .services__item.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    height: 0;
    padding: 0;
  }

  .services__item svg {
    fill: #6b6b6b;
  }

  .services__description.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    height: 0;
    padding: 0;
  }
}

@media (max-width: 47.99875em) {
  .header__phone {
    display: none;
  }

  .intro__bg {
    height: 110%;
  }

  .intro__reviews-top {
    margin-bottom: 0;
  }

  .intro__review {
    display: none;
  }

  .intro__form {
    display: none;
  }
}

@media (max-width: 29.99875em) {
  .benefits__text::after {
    width: 100%;
    left: -30%;
  }

  .services h2::after {
    width: 100%;
    left: -20%;
  }

  .features h2::after {
    width: 100%;
    left: -30%;
  }
}

@media (max-width: 24.375em) {
  h1 {
    font-size: 2.25rem;
  }

  h1 {
    margin-bottom: 0.9375rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h2 {
    margin-bottom: 0.9375rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h3 {
    margin-bottom: 0.9375rem;
  }

  p {
    font-size: 1.375rem;
  }

  a {
    font-size: 1.375rem;
  }

  ._page-section {
    margin-bottom: 3.125rem;
  }

  .header__img {
    margin-right: 0.625rem;
  }

  .intro {
    padding-top: 8.75rem;
  }

  .intro__reviews {
    margin-bottom: 3.75rem;
  }

  .intro__form {
    padding-top: 2.1875rem;
  }

  .intro__form {
    padding-left: 1.9375rem;
  }

  .intro__form {
    padding-right: 1.25rem;
  }

  .intro__form-title {
    font-size: 1.625rem;
  }

  .intro__form-title {
    margin-bottom: 3.125rem;
  }

  .benefits__text {
    padding-bottom: 1.5625rem;
  }

  .benefits__text {
    margin-bottom: 2.5rem;
  }

  .benefits__items {
    gap: 1.875rem;
  }

  .solution-1 .quote__img {
    width: 24.375rem;
  }

  .solution-1 .solution__logo {
    max-width: 19.875rem;
  }

  .solution.solution-2 {
    padding-top: 6.25rem;
  }

  .solution.solution-2 {
    padding-bottom: 0.0000000625rem;
  }

  .solution.solution-2 .quote__img {
    width: 24.375rem;
  }

  .solution.solution-2 .solution__logo {
    max-width: 19.875rem;
  }

  .solution {
    padding-top: 6.875rem;
  }

  .solution {
    padding-bottom: 5rem;
  }

  .solution {
    margin-bottom: 3.125rem;
  }

  .solution__item {
    padding-left: 0.0000000625rem;
  }

  .solution__item:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .solution__item b {
    font-size: 1.375rem;
  }

  .solution__item._line-decor {
    padding-bottom: 1.875rem;
  }

  .solution__item._line-decor {
    margin-bottom: 1.5625rem;
  }

  .solution__list li {
    font-size: 1.375rem;
  }

  .quote__quote {
    font-size: 1.875rem;
  }

  .quote__quote {
    margin-bottom: 0.75rem;
  }

  .services h2 {
    padding-bottom: 1.5625rem;
  }

  .services__items {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }

  .services__item svg {
    margin-bottom: 2.1875rem;
  }

  .services__description {
    padding-top: 1.875rem;
  }

  .services__description {
    padding-bottom: 1.875rem;
  }

  .services__description {
    padding-left: 2.5rem;
  }

  .services__description {
    padding-right: 2.5rem;
  }

  .services__description p {
    font-size: 1.375rem;
  }

  .features {
    padding-top: 8.125rem;
  }

  .features h2 {
    padding-bottom: 1.5625rem;
  }

  .features h2 {
    margin-bottom: 4.375rem;
  }

  .features__list li:not(:last-child) {
    margin-bottom: 2.1875rem;
  }

  .features__list li {
    font-size: 1.375rem;
  }

  .features__list li {
    padding-left: 5rem;
  }

  .call {
    padding-top: 2.1875rem;
  }

  .call {
    padding-left: 1.9375rem;
  }

  .call {
    padding-right: 1.25rem;
  }

  .call__title {
    padding-bottom: 0.9375rem;
  }

  .call__title {
    font-size: 1.625rem;
  }

  .call__title {
    margin-bottom: 1.875rem;
  }
}

@media (min-width: 24.375em) and (max-width: 103.125em) {
@supports (font-size: clamp( 2.25rem , 1.8244047619rem  +  1.746031746vw , 3.625rem )) {
    h1 {
      font-size: clamp( 2.25rem , 1.8244047619rem  +  1.746031746vw , 3.625rem );
    }
}

@supports not (font-size: clamp( 2.25rem , 1.8244047619rem  +  1.746031746vw , 3.625rem )) {
    h1 {
      font-size: calc(2.25rem + 1.375 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.6473214286rem  +  1.1904761905vw , 1.875rem )) {
    h1 {
      margin-bottom: clamp( 0.9375rem , 0.6473214286rem  +  1.1904761905vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.6473214286rem  +  1.1904761905vw , 1.875rem )) {
    h1 {
      margin-bottom: calc(0.9375rem + 0.9375 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (font-size: clamp( 2.25rem , 2.056547619rem  +  0.7936507937vw , 2.875rem )) {
    h2 {
      font-size: clamp( 2.25rem , 2.056547619rem  +  0.7936507937vw , 2.875rem );
    }
}

@supports not (font-size: clamp( 2.25rem , 2.056547619rem  +  0.7936507937vw , 2.875rem )) {
    h2 {
      font-size: calc(2.25rem + 0.625 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.8407738095rem  +  0.3968253968vw , 1.25rem )) {
    h2 {
      margin-bottom: clamp( 0.9375rem , 0.8407738095rem  +  0.3968253968vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.8407738095rem  +  0.3968253968vw , 1.25rem )) {
    h2 {
      margin-bottom: calc(0.9375rem + 0.3125 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (font-size: clamp( 1.75rem , 1.6726190476rem  +  0.3174603175vw , 2rem )) {
    h3 {
      font-size: clamp( 1.75rem , 1.6726190476rem  +  0.3174603175vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 1.6726190476rem  +  0.3174603175vw , 2rem )) {
    h3 {
      font-size: calc(1.75rem + 0.25 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.8407738095rem  +  0.3968253968vw , 1.25rem )) {
    h3 {
      margin-bottom: clamp( 0.9375rem , 0.8407738095rem  +  0.3968253968vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.8407738095rem  +  0.3968253968vw , 1.25rem )) {
    h3 {
      margin-bottom: calc(0.9375rem + 0.3125 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (font-size: clamp( 1.375rem , 1.2976190476rem  +  0.3174603175vw , 1.625rem )) {
    p {
      font-size: clamp( 1.375rem , 1.2976190476rem  +  0.3174603175vw , 1.625rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.2976190476rem  +  0.3174603175vw , 1.625rem )) {
    p {
      font-size: calc(1.375rem + 0.25 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (font-size: clamp( 1.375rem , 1.2976190476rem  +  0.3174603175vw , 1.625rem )) {
    a {
      font-size: clamp( 1.375rem , 1.2976190476rem  +  0.3174603175vw , 1.625rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.2976190476rem  +  0.3174603175vw , 1.625rem )) {
    a {
      font-size: calc(1.375rem + 0.25 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (margin-bottom: clamp( 3.125rem , 2.1577380952rem  +  3.9682539683vw , 6.25rem )) {
    ._page-section {
      margin-bottom: clamp( 3.125rem , 2.1577380952rem  +  3.9682539683vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , 2.1577380952rem  +  3.9682539683vw , 6.25rem )) {
    ._page-section {
      margin-bottom: calc(3.125rem + 3.125 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (margin-right: clamp( 0.625rem , 0.5282738095rem  +  0.3968253968vw , 0.9375rem )) {
    .header__img {
      margin-right: clamp( 0.625rem , 0.5282738095rem  +  0.3968253968vw , 0.9375rem );
    }
}

@supports not (margin-right: clamp( 0.625rem , 0.5282738095rem  +  0.3968253968vw , 0.9375rem )) {
    .header__img {
      margin-right: calc(0.625rem + 0.3125 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (padding-top: clamp( 8.75rem , 7.3571428571rem  +  5.7142857143vw , 13.25rem )) {
    .intro {
      padding-top: clamp( 8.75rem , 7.3571428571rem  +  5.7142857143vw , 13.25rem );
    }
}

@supports not (padding-top: clamp( 8.75rem , 7.3571428571rem  +  5.7142857143vw , 13.25rem )) {
    .intro {
      padding-top: calc(8.75rem + 4.5 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (margin-bottom: clamp( 3.75rem , 3.3050595238rem  +  1.8253968254vw , 5.1875rem )) {
    .intro__reviews {
      margin-bottom: clamp( 3.75rem , 3.3050595238rem  +  1.8253968254vw , 5.1875rem );
    }
}

@supports not (margin-bottom: clamp( 3.75rem , 3.3050595238rem  +  1.8253968254vw , 5.1875rem )) {
    .intro__reviews {
      margin-bottom: calc(3.75rem + 1.4375 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (padding-top: clamp( 2.1875rem , 1.5104166667rem  +  2.7777777778vw , 4.375rem )) {
    .intro__form {
      padding-top: clamp( 2.1875rem , 1.5104166667rem  +  2.7777777778vw , 4.375rem );
    }
}

@supports not (padding-top: clamp( 2.1875rem , 1.5104166667rem  +  2.7777777778vw , 4.375rem )) {
    .intro__form {
      padding-top: calc(2.1875rem + 2.1875 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (padding-left: clamp( 1.9375rem , 1.318452381rem  +  2.5396825397vw , 3.9375rem )) {
    .intro__form {
      padding-left: clamp( 1.9375rem , 1.318452381rem  +  2.5396825397vw , 3.9375rem );
    }
}

@supports not (padding-left: clamp( 1.9375rem , 1.318452381rem  +  2.5396825397vw , 3.9375rem )) {
    .intro__form {
      padding-left: calc(1.9375rem + 2 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (padding-right: clamp( 1.25rem , 0.8630952381rem  +  1.5873015873vw , 2.5rem )) {
    .intro__form {
      padding-right: clamp( 1.25rem , 0.8630952381rem  +  1.5873015873vw , 2.5rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , 0.8630952381rem  +  1.5873015873vw , 2.5rem )) {
    .intro__form {
      padding-right: calc(1.25rem + 1.25 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (font-size: clamp( 1.625rem , 1.5863095238rem  +  0.1587301587vw , 1.75rem )) {
    .intro__form-title {
      font-size: clamp( 1.625rem , 1.5863095238rem  +  0.1587301587vw , 1.75rem );
    }
}

@supports not (font-size: clamp( 1.625rem , 1.5863095238rem  +  0.1587301587vw , 1.75rem )) {
    .intro__form-title {
      font-size: calc(1.625rem + 0.125 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (margin-bottom: clamp( 3.125rem , 2.3511904762rem  +  3.1746031746vw , 5.625rem )) {
    .intro__form-title {
      margin-bottom: clamp( 3.125rem , 2.3511904762rem  +  3.1746031746vw , 5.625rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , 2.3511904762rem  +  3.1746031746vw , 5.625rem )) {
    .intro__form-title {
      margin-bottom: calc(3.125rem + 2.5 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , 1.0788690476rem  +  1.9841269841vw , 3.125rem )) {
    .benefits__text {
      padding-bottom: clamp( 1.5625rem , 1.0788690476rem  +  1.9841269841vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , 1.0788690476rem  +  1.9841269841vw , 3.125rem )) {
    .benefits__text {
      padding-bottom: calc(1.5625rem + 1.5625 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 1.3392857143rem  +  4.7619047619vw , 6.25rem )) {
    .benefits__text {
      margin-bottom: clamp( 2.5rem , 1.3392857143rem  +  4.7619047619vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.3392857143rem  +  4.7619047619vw , 6.25rem )) {
    .benefits__text {
      margin-bottom: calc(2.5rem + 3.75 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (gap: clamp( 1.875rem , 1.1011904762rem  +  3.1746031746vw , 4.375rem )) {
    .benefits__items {
      gap: clamp( 1.875rem , 1.1011904762rem  +  3.1746031746vw , 4.375rem );
    }
}

@supports not (gap: clamp( 1.875rem , 1.1011904762rem  +  3.1746031746vw , 4.375rem )) {
    .benefits__items {
      gap: calc(1.875rem + 2.5 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (width: clamp( 24.375rem , 12.5744047619rem  +  48.4126984127vw , 62.5rem )) {
    .solution-1 .quote__img {
      width: clamp( 24.375rem , 12.5744047619rem  +  48.4126984127vw , 62.5rem );
    }
}

@supports not (width: clamp( 24.375rem , 12.5744047619rem  +  48.4126984127vw , 62.5rem )) {
    .solution-1 .quote__img {
      width: calc(24.375rem + 38.125 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (max-width: clamp( 19.875rem , 14.8839285714rem  +  20.4761904762vw , 36rem )) {
    .solution-1 .solution__logo {
      max-width: clamp( 19.875rem , 14.8839285714rem  +  20.4761904762vw , 36rem );
    }
}

@supports not (max-width: clamp( 19.875rem , 14.8839285714rem  +  20.4761904762vw , 36rem )) {
    .solution-1 .solution__logo {
      max-width: calc(19.875rem + 16.125 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (padding-top: clamp( 6.25rem , 4.7023809524rem  +  6.3492063492vw , 11.25rem )) {
    .solution.solution-2 {
      padding-top: clamp( 6.25rem , 4.7023809524rem  +  6.3492063492vw , 11.25rem );
    }
}

@supports not (padding-top: clamp( 6.25rem , 4.7023809524rem  +  6.3492063492vw , 11.25rem )) {
    .solution.solution-2 {
      padding-top: calc(6.25rem + 5 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (padding-bottom: clamp( 0.0000000625rem , -2.3214284896rem  +  9.5238094444vw , 7.5rem )) {
    .solution.solution-2 {
      padding-bottom: clamp( 0.0000000625rem , -2.3214284896rem  +  9.5238094444vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 0.0000000625rem , -2.3214284896rem  +  9.5238094444vw , 7.5rem )) {
    .solution.solution-2 {
      padding-bottom: calc(0.0000000625rem + 7.4999999375 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (width: clamp( 24.375rem , 13.5416666667rem  +  44.4444444444vw , 59.375rem )) {
    .solution.solution-2 .quote__img {
      width: clamp( 24.375rem , 13.5416666667rem  +  44.4444444444vw , 59.375rem );
    }
}

@supports not (width: clamp( 24.375rem , 13.5416666667rem  +  44.4444444444vw , 59.375rem )) {
    .solution.solution-2 .quote__img {
      width: calc(24.375rem + 35 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (max-width: clamp( 19.875rem , 15.9285714286rem  +  16.1904761905vw , 32.625rem )) {
    .solution.solution-2 .solution__logo {
      max-width: clamp( 19.875rem , 15.9285714286rem  +  16.1904761905vw , 32.625rem );
    }
}

@supports not (max-width: clamp( 19.875rem , 15.9285714286rem  +  16.1904761905vw , 32.625rem )) {
    .solution.solution-2 .solution__logo {
      max-width: calc(19.875rem + 12.75 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (padding-top: clamp( 6.875rem , 3.9732142857rem  +  11.9047619048vw , 16.25rem )) {
    .solution {
      padding-top: clamp( 6.875rem , 3.9732142857rem  +  11.9047619048vw , 16.25rem );
    }
}

@supports not (padding-top: clamp( 6.875rem , 3.9732142857rem  +  11.9047619048vw , 16.25rem )) {
    .solution {
      padding-top: calc(6.875rem + 9.375 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (padding-bottom: clamp( 5rem , 3.0654761905rem  +  7.9365079365vw , 11.25rem )) {
    .solution {
      padding-bottom: clamp( 5rem , 3.0654761905rem  +  7.9365079365vw , 11.25rem );
    }
}

@supports not (padding-bottom: clamp( 5rem , 3.0654761905rem  +  7.9365079365vw , 11.25rem )) {
    .solution {
      padding-bottom: calc(5rem + 6.25 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (margin-bottom: clamp( 3.125rem , 1.1904761905rem  +  7.9365079365vw , 9.375rem )) {
    .solution {
      margin-bottom: clamp( 3.125rem , 1.1904761905rem  +  7.9365079365vw , 9.375rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , 1.1904761905rem  +  7.9365079365vw , 9.375rem )) {
    .solution {
      margin-bottom: calc(3.125rem + 6.25 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (padding-left: clamp( 0.0000000625rem , -0.773809442rem  +  3.1746030952vw , 2.5rem )) {
    .solution__item {
      padding-left: clamp( 0.0000000625rem , -0.773809442rem  +  3.1746030952vw , 2.5rem );
    }
}

@supports not (padding-left: clamp( 0.0000000625rem , -0.773809442rem  +  3.1746030952vw , 2.5rem )) {
    .solution__item {
      padding-left: calc(0.0000000625rem + 2.4999999375 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.1011904762rem  +  3.1746031746vw , 4.375rem )) {
    .solution__item:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 1.1011904762rem  +  3.1746031746vw , 4.375rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.1011904762rem  +  3.1746031746vw , 4.375rem )) {
    .solution__item:not(:last-child) {
      margin-bottom: calc(1.875rem + 2.5 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (font-size: clamp( 1.375rem , 1.2589285714rem  +  0.4761904762vw , 1.75rem )) {
    .solution__item b {
      font-size: clamp( 1.375rem , 1.2589285714rem  +  0.4761904762vw , 1.75rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.2589285714rem  +  0.4761904762vw , 1.75rem )) {
    .solution__item b {
      font-size: calc(1.375rem + 0.375 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.4880952381rem  +  1.5873015873vw , 3.125rem )) {
    .solution__item._line-decor {
      padding-bottom: clamp( 1.875rem , 1.4880952381rem  +  1.5873015873vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.4880952381rem  +  1.5873015873vw , 3.125rem )) {
    .solution__item._line-decor {
      padding-bottom: calc(1.875rem + 1.25 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , 1.369047619rem  +  0.7936507937vw , 2.1875rem )) {
    .solution__item._line-decor {
      margin-bottom: clamp( 1.5625rem , 1.369047619rem  +  0.7936507937vw , 2.1875rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , 1.369047619rem  +  0.7936507937vw , 2.1875rem )) {
    .solution__item._line-decor {
      margin-bottom: calc(1.5625rem + 0.625 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (font-size: clamp( 1.375rem , 1.2976190476rem  +  0.3174603175vw , 1.625rem )) {
    .solution__list li {
      font-size: clamp( 1.375rem , 1.2976190476rem  +  0.3174603175vw , 1.625rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.2976190476rem  +  0.3174603175vw , 1.625rem )) {
    .solution__list li {
      font-size: calc(1.375rem + 0.25 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (font-size: clamp( 1.875rem , 1.681547619rem  +  0.7936507937vw , 2.5rem )) {
    .quote__quote {
      font-size: clamp( 1.875rem , 1.681547619rem  +  0.7936507937vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.681547619rem  +  0.7936507937vw , 2.5rem )) {
    .quote__quote {
      font-size: calc(1.875rem + 0.625 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (margin-bottom: clamp( 0.75rem , 0.3050595238rem  +  1.8253968254vw , 2.1875rem )) {
    .quote__quote {
      margin-bottom: clamp( 0.75rem , 0.3050595238rem  +  1.8253968254vw , 2.1875rem );
    }
}

@supports not (margin-bottom: clamp( 0.75rem , 0.3050595238rem  +  1.8253968254vw , 2.1875rem )) {
    .quote__quote {
      margin-bottom: calc(0.75rem + 1.4375 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , 1.0788690476rem  +  1.9841269841vw , 3.125rem )) {
    .services h2 {
      padding-bottom: clamp( 1.5625rem , 1.0788690476rem  +  1.9841269841vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , 1.0788690476rem  +  1.9841269841vw , 3.125rem )) {
    .services h2 {
      padding-bottom: calc(1.5625rem + 1.5625 * (100vw - 24.375rem) / 78.75);
    }
}

@supports ((-moz-column-gap: clamp( 0.625rem , -0.5357142857rem  +  4.7619047619vw , 4.375rem )) or (column-gap: clamp( 0.625rem , -0.5357142857rem  +  4.7619047619vw , 4.375rem ))) {
    .services__items {
      -webkit-column-gap: clamp( 0.625rem , -0.5357142857rem  +  4.7619047619vw , 4.375rem );
         -moz-column-gap: clamp( 0.625rem , -0.5357142857rem  +  4.7619047619vw , 4.375rem );
              column-gap: clamp( 0.625rem , -0.5357142857rem  +  4.7619047619vw , 4.375rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , -0.5357142857rem  +  4.7619047619vw , 4.375rem )) or (column-gap: clamp( 0.625rem , -0.5357142857rem  +  4.7619047619vw , 4.375rem ))) {
    .services__items {
      -webkit-column-gap: calc(0.625rem + 3.75 * (100vw - 24.375rem) / 78.75);
         -moz-column-gap: calc(0.625rem + 3.75 * (100vw - 24.375rem) / 78.75);
              column-gap: calc(0.625rem + 3.75 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (margin-bottom: clamp( 2.1875rem , 1.8973214286rem  +  1.1904761905vw , 3.125rem )) {
    .services__item svg {
      margin-bottom: clamp( 2.1875rem , 1.8973214286rem  +  1.1904761905vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 2.1875rem , 1.8973214286rem  +  1.1904761905vw , 3.125rem )) {
    .services__item svg {
      margin-bottom: calc(2.1875rem + 0.9375 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.1339285714rem  +  7.1428571429vw , 7.5rem )) {
    .services__description {
      padding-top: clamp( 1.875rem , 0.1339285714rem  +  7.1428571429vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.1339285714rem  +  7.1428571429vw , 7.5rem )) {
    .services__description {
      padding-top: calc(1.875rem + 5.625 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.3273809524rem  +  6.3492063492vw , 6.875rem )) {
    .services__description {
      padding-bottom: clamp( 1.875rem , 0.3273809524rem  +  6.3492063492vw , 6.875rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.3273809524rem  +  6.3492063492vw , 6.875rem )) {
    .services__description {
      padding-bottom: calc(1.875rem + 5 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (padding-left: clamp( 2.5rem , 2.2485119048rem  +  1.0317460317vw , 3.3125rem )) {
    .services__description {
      padding-left: clamp( 2.5rem , 2.2485119048rem  +  1.0317460317vw , 3.3125rem );
    }
}

@supports not (padding-left: clamp( 2.5rem , 2.2485119048rem  +  1.0317460317vw , 3.3125rem )) {
    .services__description {
      padding-left: calc(2.5rem + 0.8125 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (padding-right: clamp( 2.5rem , -0.2083333333rem  +  11.1111111111vw , 11.25rem )) {
    .services__description {
      padding-right: clamp( 2.5rem , -0.2083333333rem  +  11.1111111111vw , 11.25rem );
    }
}

@supports not (padding-right: clamp( 2.5rem , -0.2083333333rem  +  11.1111111111vw , 11.25rem )) {
    .services__description {
      padding-right: calc(2.5rem + 8.75 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (font-size: clamp( 1.375rem , 1.181547619rem  +  0.7936507937vw , 2rem )) {
    .services__description p {
      font-size: clamp( 1.375rem , 1.181547619rem  +  0.7936507937vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.181547619rem  +  0.7936507937vw , 2rem )) {
    .services__description p {
      font-size: calc(1.375rem + 0.625 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (padding-top: clamp( 3.125rem , 0.0297619048rem  +  12.6984126984vw , 13.125rem )) {
    .features {
      padding-top: clamp( 3.125rem , 0.0297619048rem  +  12.6984126984vw , 13.125rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 0.0297619048rem  +  12.6984126984vw , 13.125rem )) {
    .features {
      padding-top: calc(3.125rem + 10 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , 1.0788690476rem  +  1.9841269841vw , 3.125rem )) {
    .features h2 {
      padding-bottom: clamp( 1.5625rem , 1.0788690476rem  +  1.9841269841vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , 1.0788690476rem  +  1.9841269841vw , 3.125rem )) {
    .features h2 {
      padding-bottom: calc(1.5625rem + 1.5625 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (margin-bottom: clamp( 4.375rem , 3.4077380952rem  +  3.9682539683vw , 7.5rem )) {
    .features h2 {
      margin-bottom: clamp( 4.375rem , 3.4077380952rem  +  3.9682539683vw , 7.5rem );
    }
}

@supports not (margin-bottom: clamp( 4.375rem , 3.4077380952rem  +  3.9682539683vw , 7.5rem )) {
    .features h2 {
      margin-bottom: calc(4.375rem + 3.125 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (margin-bottom: clamp( 2.1875rem , 1.3169642857rem  +  3.5714285714vw , 5rem )) {
    .features__list li:not(:last-child) {
      margin-bottom: clamp( 2.1875rem , 1.3169642857rem  +  3.5714285714vw , 5rem );
    }
}

@supports not (margin-bottom: clamp( 2.1875rem , 1.3169642857rem  +  3.5714285714vw , 5rem )) {
    .features__list li:not(:last-child) {
      margin-bottom: calc(2.1875rem + 2.8125 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (font-size: clamp( 1.375rem , 1.2976190476rem  +  0.3174603175vw , 1.625rem )) {
    .features__list li {
      font-size: clamp( 1.375rem , 1.2976190476rem  +  0.3174603175vw , 1.625rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.2976190476rem  +  0.3174603175vw , 1.625rem )) {
    .features__list li {
      font-size: calc(1.375rem + 0.25 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (padding-left: clamp( 5rem , 4.2261904762rem  +  3.1746031746vw , 7.5rem )) {
    .features__list li {
      padding-left: clamp( 5rem , 4.2261904762rem  +  3.1746031746vw , 7.5rem );
    }
}

@supports not (padding-left: clamp( 5rem , 4.2261904762rem  +  3.1746031746vw , 7.5rem )) {
    .features__list li {
      padding-left: calc(5rem + 2.5 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (padding-top: clamp( 2.1875rem , 1.5104166667rem  +  2.7777777778vw , 4.375rem )) {
    .call {
      padding-top: clamp( 2.1875rem , 1.5104166667rem  +  2.7777777778vw , 4.375rem );
    }
}

@supports not (padding-top: clamp( 2.1875rem , 1.5104166667rem  +  2.7777777778vw , 4.375rem )) {
    .call {
      padding-top: calc(2.1875rem + 2.1875 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (padding-left: clamp( 1.9375rem , 1.318452381rem  +  2.5396825397vw , 3.9375rem )) {
    .call {
      padding-left: clamp( 1.9375rem , 1.318452381rem  +  2.5396825397vw , 3.9375rem );
    }
}

@supports not (padding-left: clamp( 1.9375rem , 1.318452381rem  +  2.5396825397vw , 3.9375rem )) {
    .call {
      padding-left: calc(1.9375rem + 2 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (padding-right: clamp( 1.25rem , 0.8630952381rem  +  1.5873015873vw , 2.5rem )) {
    .call {
      padding-right: clamp( 1.25rem , 0.8630952381rem  +  1.5873015873vw , 2.5rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , 0.8630952381rem  +  1.5873015873vw , 2.5rem )) {
    .call {
      padding-right: calc(1.25rem + 1.25 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.6473214286rem  +  1.1904761905vw , 1.875rem )) {
    .call__title {
      padding-bottom: clamp( 0.9375rem , 0.6473214286rem  +  1.1904761905vw , 1.875rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.6473214286rem  +  1.1904761905vw , 1.875rem )) {
    .call__title {
      padding-bottom: calc(0.9375rem + 0.9375 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (font-size: clamp( 1.625rem , 1.5863095238rem  +  0.1587301587vw , 1.75rem )) {
    .call__title {
      font-size: clamp( 1.625rem , 1.5863095238rem  +  0.1587301587vw , 1.75rem );
    }
}

@supports not (font-size: clamp( 1.625rem , 1.5863095238rem  +  0.1587301587vw , 1.75rem )) {
    .call__title {
      font-size: calc(1.625rem + 0.125 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.2946428571rem  +  2.380952381vw , 3.75rem )) {
    .call__title {
      margin-bottom: clamp( 1.875rem , 1.2946428571rem  +  2.380952381vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.2946428571rem  +  2.380952381vw , 3.75rem )) {
    .call__title {
      margin-bottom: calc(1.875rem + 1.875 * (100vw - 24.375rem) / 78.75);
    }
}
}

@media (max-width: 94.375em) and (min-width: 103.125em) {
  .solution {
    margin-bottom: 18.75rem;
  }

  .features {
    padding-top: 25rem;
  }
}

@media (max-width: 94.375em) and (min-width: 24.375em) and (max-width: 103.125em) {
@supports (margin-bottom: clamp( 3.125rem , -1.7113095238rem  +  19.8412698413vw , 18.75rem )) {
    .solution {
      margin-bottom: clamp( 3.125rem , -1.7113095238rem  +  19.8412698413vw , 18.75rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , -1.7113095238rem  +  19.8412698413vw , 18.75rem )) {
    .solution {
      margin-bottom: calc(3.125rem + 15.625 * (100vw - 24.375rem) / 78.75);
    }
}

@supports (padding-top: clamp( 6.25rem , 0.4464285714rem  +  23.8095238095vw , 25rem )) {
    .features {
      padding-top: clamp( 6.25rem , 0.4464285714rem  +  23.8095238095vw , 25rem );
    }
}

@supports not (padding-top: clamp( 6.25rem , 0.4464285714rem  +  23.8095238095vw , 25rem )) {
    .features {
      padding-top: calc(6.25rem + 18.75 * (100vw - 24.375rem) / 78.75);
    }
}
}

@media (max-width: 74.99875em) and (min-width: 103.125em) {
  .quote__text {
    margin-top: 53.125rem;
  }
}

@media (max-width: 74.99875em) and (min-width: 24.375em) and (max-width: 103.125em) {
@supports (margin-top: clamp( 18.75rem , 8.1101190476rem  +  43.6507936508vw , 53.125rem )) {
    .quote__text {
      margin-top: clamp( 18.75rem , 8.1101190476rem  +  43.6507936508vw , 53.125rem );
    }
}

@supports not (margin-top: clamp( 18.75rem , 8.1101190476rem  +  43.6507936508vw , 53.125rem )) {
    .quote__text {
      margin-top: calc(18.75rem + 34.375 * (100vw - 24.375rem) / 78.75);
    }
}
}

.solution.solution.solution-2 .quote__text{padding: 4.375rem 3.75rem 3.75rem 0}